@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;

    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkMagenta: hsl(303, 10%, 53%);
    --lightMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


/*---------------Media Queries---------------*/

/* Mobile */
body {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(./images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 10000;
    padding: 100px 0 0 0;
}

.title {
    font-size: 35px;
    font-weight: 700;
    color: var(--veryDarkMagenta);
    text-align: center;
    padding: 0px 50px;
}

#description>p {
    color: var(--darkMagenta);
    text-align: center;
    font-weight: 500;
}

#description,
#rated,
#comment {
    padding: 0px 30px;
}

#description {
    margin: 30px 0;
}

#rated>div {
    background-color: var(--lightMagenta);
    border-radius: 15px;
    margin: 15px 0;
    padding: 10px;
    text-align: center;
}

#rated>div>div>p {
    color: var(--veryDarkMagenta);
    font-weight: 700;
    margin: 5px 0;
}

#comment h4 {
    color: var(--white);
    margin-bottom: 5px;
    padding-top: 5px;
}

#comment p {
    color: var(--softPink);
    font-weight: 400;
}

#comment>div {
    background-color: var(--veryDarkMagenta);
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
}

#comment>div>div {
    display: flex;
    align-content: center;
}

#comment>div>p {
    color: var(--white);
    margin-top: 15px;
}

#comment>div>div>div img {
    width: 50px;
    border-radius: 50%;
    margin: 0 25px 0 0;
}

footer {
    background-image: url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 10;
    padding: 100px 0 100px 0;
}

footer p {
    padding: 0 80px;
}


/* Desktop */
@media screen and (min-width: 1440px) {
    body {
        padding: 0;
        margin: 0;
        background-image: url(./images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        position: relative;
        z-index: 10;
    }

    /* GRID */
    #content {
        display: grid;
        grid-template-columns: 1fr 1fr 40px 2fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header . rated"
            "description description . rated"
            "comment comment comment comment"
            "footer footer footer footer";
    }

    /* END GRID */

    header {
        background-image: url(./images/bg-pattern-top-desktop.svg) no-repeat top;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        z-index: 10;
        grid-area: header;
    }

    #content {
        padding: 0px 200px;
    }

    .title {
        font-size: 50px;
        color: var(--veryDarkMagenta);
        text-align: left;
        padding: 0px 50px 0 0;
        line-height: 50px;
    }

    #description>p {
        color: var(--darkMagenta);
        font-weight: 500;
        text-align: left;
        line-height: 20px;
    }

    #description {
        margin: 15px 0;
        padding: 0px 50px 0 0;
        grid-area: description;
    }

    #rated {
        grid-area: rated;
        padding: 110px 0 0 0;
        display: flex;
        flex-flow: column;
    }

    #rated>div {
        background-color: var(--lightMagenta);
        border-radius: 15px;
        margin: 10px 0;
        padding: 10px;
        width: 420px;
        height: 25px;
        display: flex;
        align-items: center;
    }

    #rated div:nth-child(0n+1) {
        align-self: flex-start;
    }

    #rated div:nth-child(0n+2) {
        align-self: center;
    }

    #rated div:nth-child(0n+3) {
        align-self: flex-end;
    }

    #rated>div>div {
        padding: 0 15px;
    }


    #rated>div>div>p {
        color: var(--veryDarkMagenta);
        font-weight: 700;
        margin: 5px 0;
    }

    #comment {
        grid-area: comment;
        margin: 50px 0;
        padding: 0;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #comment h4 {
        color: var(--white);
        margin-bottom: 5px;
        padding-top: 5px;
    }

    #comment p {
        color: var(--softPink);
        font-weight: 400;
    }

    #comment>div {
        background-color: var(--veryDarkMagenta);
        border-radius: 10px;
        width: 300px;
        height: auto;
        max-height: 150px;
        margin: 0;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
    }


    #comment div:nth-child(0n+1) {
        align-self: flex-start;
    }

    #comment div:nth-child(0n+2) {
        align-self: center;
    }

    #comment div:nth-child(0n+3) {
        align-self: flex-end;
    }

    #comment>div>div {
        display: flex;
        align-content: center;
    }

    #comment>div>p {
        color: var(--white);
        margin-top: 15px;
    }

    #comment>div>div>div img {
        width: 50px;
        border-radius: 50%;
        margin: 0 25px 0 0;
    }

    footer {
        background-image: unset;
        grid-area: footer;
    }
}